{% extends "layout.html" %}

{% block content %}
    <h3>Total Units: {{ total_units }}</h3>
    <h4>AAPL Units: {{ aapl_units }}</h4>
    <h4>NOVO-B.CO Units: {{ novo_units }}</h4>
    
    <div id="stock-chart-aapl"></div>
    <div id="stock-chart-novo"></div>

    <form method="POST" action="{{ url_for('stock_graph') }}">
        <label for="aapl_amount">AAPL Amount:</label>
        <input type="number" id="aapl_amount" name="aapl_amount" min="0">
        <button type="submit" name="buy_aapl" value="1">Buy AAPL</button>
        <button type="submit" name="sell_aapl" value="1">Sell AAPL</button>
    </form>
    
    <form method="POST" action="{{ url_for('stock_graph') }}">
        <label for="novo_amount">NOVO-B.CO Amount:</label>
        <input type="number" id="novo_amount" name="novo_amount" min="0">
        <button type="submit" name="buy_novo" value="1">Buy NOVO-B.CO</button>
        <button type="submit" name="sell_novo" value="1">Sell NOVO-B.CO</button>
    </form>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        // Parse the JSON data for AAPL graph
        var graphDataAAPL = {{ graph_json_aapl | safe }};

        // Render the AAPL graph using the parsed JSON data
        Plotly.newPlot('stock-chart-aapl', graphDataAAPL);

        // Parse the JSON data for NOVO-B.CO graph
        var graphDataNOVO = {{ graph_json_novo | safe }};

        // Render the NOVO-B.CO graph using the parsed JSON data
        Plotly.newPlot('stock-chart-novo', graphDataNOVO);
    </script>
{% endblock %}